{
  "root": true,
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "project": "tsconfig.json"
  },
  "rules": {
    "react/prop-types": [0],
    "react/react-in-jsx-scope": [0],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "semi": true,
        "trailingComma": "all",
        "singleQuote": true,
        "proseWrap": "always"
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-unresolved": [2, { "ignore": [".css"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx",
          ".css"
        ]
      }
    }
  }
}
