.cart-img {
  max-width: 100px;
}

.cart-counter {
  background-color: var(--color-brand);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 1.625em;
  height: 1.625em;
  line-height: 1.625;
  margin-right: 0.25em;
}
